@mixin theme($theme: #646464)
{
    background-color: $theme;
    box-sizing: 0 0 5px 0 rgba($theme, .25);
    color: #fff;
}

@mixin pageAdd()
{
    overflow: hidden;
    backdrop-filter: blur(10px);
}


.choose
{
    background: #bbbbbb;
    box-shadow: 0 0 15px 0 #f1fff1;
    opacity: 0.7;
    border-radius: 5px;
    display: block;
    z-index: 9999;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    overflow: hidden;
    

    p
    {
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: lowercase;
        margin: 0;
        padding: 15px 10px;

        &:hover
        {
            background: #8f8e8e;
            transition: all 300ms ease-in-out;
        }
    }
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    height: 100vh;
    //background: linear-gradient(to right, #5c7ad4, #4771ee 40%, #030e5f );
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000;
    


    .body-active
    {
       @include pageAdd();
    }
}

::placeholder
{
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    text-indent: 2px;
    opacity: 0.6;
}

.container
{
    display: none;
}



.info-pop-up
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 65%;
    padding: 70px;
    background: url(../img/charlesdeluvio-YJxAy2p_ZJ4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    box-shadow: 0 0 10px rgb(106, 97, 0);
    color: #000000;
    z-index: 9999;
    display: none;
    border-radius: 15px;
    transition: all 300ms ease-in-out;

    h1
    {
        font-size: 2rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        margin: 0 0 20px 0;
    }

    p
    {
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        text-transform: lowercase;

        b
        {
            font-weight: 600;
        }
    }

    span
    {
        background: #3b3b3b;
        color: #fff;
        padding: 5px 10px;
        border-radius: 45px;
        position: fixed;
        top: -2rem;
        right: -2rem;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        opacity: 0.8;
    }    

    .info-pop-up-container
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 999;
        backdrop-filter: blur(0.5px);

        img
        {
            position: absolute;
            top: 1rem;
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
            opacity: 0.2;
            border: none;
            box-shadow: 0 0 20px 0 rgb(106, 97, 0);
        }
    }
}
  

.field
{
    @include theme;
    box-shadow: 0 0 10px 0 #f1fff1;
    height: 45%;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0.9;
    text-overflow: hidden;
    overflow: hidden;
    text-transform: lowercase;
    backdrop-filter: blur(10px);


   .cont
   {
    width: 100%;
    position: relative;
    text-indent: 15px;
    padding: 10px;
    

        .type
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 15px 0 0 0;
            
            
            input
            {
                
                width: 50%;
                border: none;
                outline: none;
                background: transparent;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 700;
                text-transform: lowercase;
                letter-spacing: 1px;
                padding: 10px;
                box-sizing: border-box;
                transition: all 100ms ease;
                border-bottom: 1px solid #fff;
                cursor: pointer;
                
            }

            span
            {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50%;
                margin: 10px 0 0 0;
                font-size: 1.2rem;
                position: absolute;
                right: 0;
                flex-direction: column;
                cursor: pointer;
            }
        
        }

    
    }

}


